
<div style="margin-bottom: 10vh;">
<% @messages_by_day.each do |date, messages| %>
    <div class="date-msg">
     <p><%= date %></p>
    </div>

<% messages.each do |message| %>
  <% if current_user == message.user %>
  <div class="d-flex justify-content-end">
    <h5 class="sent_msg"><%= message.content %></h5>
  </div>
  <% else %>
    <div class="d-flex justify-content-start">
      <h5 class="receive_msg"> <%= message.content %></h5>
    </div>
  <% end %>
<% end %>
<% end %>
</div>


<div class="input_msg text-center fixed-bottom" style="padding-top: 16px;">
  <%= simple_form_for [@match, @message] do |f| %>
      <div class="content-send-message w-90 mx-2">
        <%= f.input :content, label: false, placeholder: 'Write message', :input_html => {:rows => 1, :style => 'height: 50px'}, class: "rounded-sm" %>
      </div>
      <div class="btn-send-message">
        <%= f.button :button, class: "button" do %>
          <i class="fas fa-paper-plane" aria-hidden="true"></i>
        <% end %>
      </div>
  <% end %>
</div>


<!-- MODAL POP-UP -->
<div class="modal fade" id="ModalRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Send Reveal Request </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your match has requested to share their identity. Would you like to share yours?</p>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col">
            <%= link_to "Accept", update_reveal_match_path(@match, match: {reveal_status: 'approved'}), method: :patch %>
            <%= link_to "Decline", update_reveal_match_path(@match, match: {reveal_status: 'declined'}), method: :patch %>
          </div>
          <div class="col">
            <%#= link_to "Decline", id: 'decline' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- MODAL POP-UP END -->




