<div class="home-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <h2>Update <%= @user.first_name %>s' Preferences</h2>

    <%= simple_form_for(:profiles, url: { action: "update"}, method: :patch ) do |f| %>
    <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :diagnosis_year, placeholder: '2008', input_html: { min: '1950', step: 'any', max: 'Date.today.year' } %>
        <%= f.input :sex_pref, required: true, autofocus: true, collection: ["Male", "Female", "Non-binary"]%>
        <div class="row">
          <div class="col">
            <%= f.input :min_age, collection: 18..90%>
          </div>
          <div class="col">
            <%= f.input :max_age, collection: 19..90%>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="select required" for="profiles_distance">Distance <abbr title="required">*</abbr></label>
          </div>
          <div class="col">
            <input type="range" name="profiles[distance]" class="multi-range" id="distanceInputId" value="5" min="1" max="100" oninput="distanceOutputId.value = distanceInputId.value">
            <output name="distanceOutputName" id="distanceOutputId"></output>
          </div>
      </div>

      <div class="form-actions">
        <h5><%= f.button :submit, "Update Preferences", class: 'btn btn-pink'%><h5>
      </div>
      <% end %>

      <h5><%= link_to "Back", :back %><h5>
    </div>
  </div>
</div>
