<div class="home-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <h3 class="blue-profile-header">Create Account</h3>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="photo-upload text-center">
          <i class="fas fa-user-circle fa-5x" style="color: #132D7E"></i>
          <%= f.input :photo, label: "Profile Picture" %>
          <%= f.input :photo_cache, as: :hidden %>
          <p style="opacity: 0.6">*Don’t worry, we’ll keep your photo anoymous for now</p>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :first_name, required: true, autofocus: true, input_html: { autocomplete: "first_name" }%>
          </div>
          <div class="col">
            <%= f.input :last_name, required: true, autofocus: true, input_html: { autocomplete: "last_name" }%>
          </div>
        </div>
        <%= f.input :username, required: true, autofocus: true, input_html: { autocomplete: "username" }%>
        <%= f.input :city, required: true, autofocus: true, input_html: { autocomplete: "city" }%>
        <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }%>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
        <%= f.input :gender, required: true, autofocus: true, collection: ["Male", "Female", "Non-binary"]%>
        <%= f.input :diagnosis_year, label: 'Living HIV+ Since:', placeholder: '2008', input_html: { min: '1950', step: 'any', max: 'Date.today.year' } %>
        <%= f.input :birthday, as: :date, start_year: Date.today.year - 87, end_year: Date.today.year - 5, order: [:day, :month, :year], required: true %>
        <%= f.input :bio %>
      </div>

      <div class="form-actions mt-5">
        <%= f.button :submit, "Submit", class: 'button btn-pink' %>
      </div>
      <% end %>

    </div>
  </div>
</div>
