<div class="form-group">
   <label class="control-label check_boxes optional">Categories</label>

  <input type="hidden" name="post[characteristic_id][]" value="">


  <%= simple_form_for(@user_characteristic) do |t| %>
    <% Characteristic.all.each do |characteristic| %>
      <span class="checkbox">
        <label for="post_characteristic_id <%= characteristic %>">
          <input class="check_boxes optional" type="checkbox" value="<%= characteristic %>"
          name="post[characteristic_id][]" id="post_characteristic_id <%= characteristic %>">
          <%= characteristic.name %>
          <%= characteristic.category %>
        <i class="fa fa-check"></i>
        </label>
      </span>
    <% end %>


    <%= t.association :characteristic, as: :check_boxes %>
    <%= t.submit "Almost there" %>
  <% end %>
</div>





<div>we are working</div>

