<!-- H1 title -->
  <h3 class="black-profile-header mt-3 mb-3git" style="text-align: center">Your profile</h3>
<!-- Accordion cards -->
<div class="accordion" id="accordionExample">
  <% UserCharacteristic::CATEGORIES.each_with_index do |category, index| %>
    <div class="card">
      <div class="card-header" id="heading<%= index %>">

        <h2 class="mb-0 ">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
            <% if category == 'personality' %>
              <i class="fas fa-user mr-2"></i>
            <% elsif category == 'lifestyle' %>
              <i class="fas fa-thumbs-up mr-2"></i>
            <% elsif category == 'music' %>
              <i class="fas fa-music mr-2"></i>
            <% else category == 'sports' %>
              <i class="far fa-futbol mr-2"></i>
            <% end %>
            <!-- <i class="fas fa-comment-alt fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i> -->
            <%= category %>
          </button>
        </h2>
      </div>

      <div id="collapse-<%= index %>" class="collapse" aria-labelledby="heading-<%= index %>" data-parent="#accordionExample">
        <div class="card-body">
          <% Characteristic.where(category: category).each do |characteristic| %>
            <span id="characteristic-<%= characteristic.id %>">
              <% if current_user.characteristics.include?(characteristic) %>
                <% user_characteristic = current_user.user_characteristics.where(characteristic_id: characteristic.id).first %>

                <%= link_to characteristic.name, user_characteristic_path(user_characteristic), class: 'btn btn-pill active', method: :delete, remote: true %>
              <% else %>
                <%= link_to characteristic.name, user_characteristics_path({ characteristic_id: characteristic.id }), method: :post, class: 'btn btn-pill', remote: true %>
              <% end %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- Basic texarea -->
<div class="md-form mt-3">
  <div class="ml-4">
    <label for="form7">Tell us more about yourself..</label>
  </div>
    <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
</div>
<<<<<<< HEAD
<%= link_to "Almost there...", edit_profile_path(current_user), class: 'button btn btn-pink w-100' %>
=======
<%= link_to "Almost there...", edit_profile_path(current_user), class: 'btn btn-pink w-100 mt-3' %>
>>>>>>> 2687d9c546d4604a66dcadb02d754de51f281d12










