<div class="card-matching">
  <!-- add the lack gradient at the bottom, look what claire sent. And add the blure -->
<!-- ("sample.jpg", blur: 600) -->
  <div class="bg-img">
    <%= cl_image_tag @user.photo, height: 400, width: 344, crop: :fill, class: "card-img-top"%>
  </div>

  <div class="card-infos-users ml-2">
    <div>
      <div class="alias-font ml-3 mt-1">
        <%= @user.username %>, <%= @user.age %>
      </div>
      <div class="geo-location-font ml-3 mb-1">
        <%= @user.city %>
      </div>
    </div>
    <!-- <h5 class="card-infos-users-age"> <%= @user.age  %></h5> -->
  </div>
</div>

<!-- need to add the truncate to shorten the bio -->
<div class="bio-font mt-3 mb-3">
  <div class="10">
  <% if @user.bio %>
    <%= @user.bio %>
  <% else %>
    " "
  <% end %>
  </div>
</div>

    <% unless @user.characteristics.nil? %>
      <% @user.characteristics.each do |char| %>
        <div class="btn btn-pill active">
          <%= char.name %>
        </div>
      <% end %>
    <% end %>


  <div>
    <h3 class="text-center mb-5 mt-5"><%= link_to 'All Matches', matches_path, class: "btn button btn-pink" %></h3>
  </div>
