<div class="card-matching">
  <div>
      <div class="bgimg" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
        <%= cl_image_tag @user.photo, height: 400, width: 344, crop: :fill, class: "card-img-top"%>
      </div>
  </div>

  <div class="card-infos-users ml-2">
    <div>
      <div class="alias-font ml-3 mt-1">
        <%= @user.first_name %>, <%= @user.age %>
      </div>
      <div class="geo-location-font ml-3 mb-1">
        <%= @user.city %>
      </div>
      <div class="geo-location-font ml-3 mb-1">
        <h4>Living HIV+ Since: <%= @user.diagnosis_year %></h4>
      </div>
    </div>
  </div>
</div>

<!-- need to add the truncate to shorten the bio -->
<div class="bio-font mt-3 mb-3">
  <div class="10">
  <% if @user.bio %>
    <%= @user.bio %>
  <% else %>
  <%=  %>
  <% end %>
  </div>
</div>
  <div class="row mx-1" style="justify-content: space-evenly;">
    <% unless @user.characteristics.nil? %>
      <% @user.characteristics.each do |char| %>
        <div class="btn btn-pill active col-3 m-1">
          <%= char.name %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <h3 class="text-center mb-5 mt-5"><%= link_to 'All Matches', matches_path, class: "btn button btn-pink" %></h3>
  </div>
