<div class="d-flex justify-content-center align-items-center mt-5">

<ul>
<li> <p> <%= cl_image_tag @user.photo, height: 425, width: 344, crop: :fill %></p> </li>
<li> <h3> <%= @user.first_name %> </h3> </li>

<li>
<%= link_to user_path(@next_user) do %>
    <i class="fas fa-times"></i>
<% end %>

<%= link_to user_path(@next_user) do %>
    <i class="fas fa-heart"></i>
<% end %>
</li>


<li><h3> <%= @next_user.email %> </h3></li>
</ul>
</div>
