<div class="card-matching">


  <%= cl_image_tag @user.photo, height: 355, width: 344, crop: :fill, class: "card-img-top" %>
  <div class="card-infos-users">
    <div>

      <h4> <%= @user.username %></h4>
      <h5><%= @user.city %></h5>

      </div>
    <h5 class="card-infos-users-age"> <%= @user.age  %>y.o</h5>

  </div>

</div>
    <div class="row mx-1 mb-0 mt-3 justify-content-evenly" style="justify-content: space-evenly;">
      <div class="btn btn-pill active col-3 m-1">
        funny
      </div>
      <div class="btn btn-pill active col-3 m-1">
        sexy
      </div>
      <div class="btn btn-pill active col-3 m-1">
        loving
      </div>
      <div class="btn btn-pill active col-3 m-1">
        nice
      </div>
      <div class="btn btn-pill active col-3 m-1">
        smart
      </div>
      <div class="btn btn-pill active col-3 m-1">
        art
      </div>
      <div class="btn btn-pill active col-3 m-1">
        travel
      </div>
      <div class="btn btn-pill active col-3 m-1">
        rap
      </div>
      <div class="btn btn-pill active col-3 m-1">
        soul
      </div>
    </div>
      <!-- this is the heart and cross -->
    <div class="d-flex justify-content-center mx-5 mt-3">
      <% unless @next_user %>
        <div>
          <%= link_to root_path do %>
            <i class="fas fa-times mx-5"></i>
          <% end %>
        </div>
        <div>
          <%= link_to root_path do %>
            <i class="fas fa-heart mx-5"></i>
          <% end %>
        </div>
      <% else %>
        <div>
          <%= link_to user_path(@next_user) do %>
            <i class="fas fa-times mx-5"></i>
          <% end %>
        </div>
        <div>
          <%= link_to user_matches_path(current_user, {matching_user_id: @user.id}), method: :post do %>
            <i class="fas fa-heart mx-5"></i>
          <% end %>
          </div>
        <% end %>
      </div>

