<div class="card-matching">
  <h3 class="profile-header">Your Profile</h3>
  <div>
  <div class="bg-img" style="background-image: url(<%= cloudinary_url(@current_user.photo) %>)">
      </div>
  </div>

  <div class="card-infos-users ml-2">
    <div>
      <div class="alias-font ml-3 mt-1">
        <%= @current_user.username %>, <%= @current_user.age %>
      </div>
      <div class="geo-location-font ml-3 mb-1">
        <%= @current_user.city %>
      </div>
      <div class="geo-location-font ml-3 mb-1">
        <h4>Living HIV+ Since: <%= @current_user.diagnosis_year %></h4>
      </div>
    </div>
  </div>
</div>

<!-- need to add the truncate to shorten the bio -->
  <div class="bio-font mt-3 mb-3">
    <div class="10">
    <% if @current_user.bio %>
      <%= @current_user.bio %>
    <% else %>
      No Bio
    <% end %>
    </div>
  </div>


    <% unless @current_user.characteristics.nil? %>
      <% @current_user.characteristics.each do |char| %>
        <div class="btn btn-pill active ">
          <%= char.name %>
        </div>
      <% end %>
    <% end %>


<div>
  <% if user_signed_in? && @next_user.present? %>
  <%= link_to "Let's swipe!", user_path(@next_user), class: "btn button btn-pink mt-5"  %>
  <% end %>
</div>

<!-- <div class="container">
  <div class="row h-100">
    <div class="col my-auto"> -->
