<div class="background">
  <div class="home-container" style="height:100vh">

    <div class="row">
      <div class="col text-right">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-login" style="padding: 0px 0px; box-shadow: none">
          <%#= f.input :email, required: false, autofocus: true, label: false, placeholder: 'Email', input_html: { autocomplete: "email" } %>
          <%#= f.input :password, required: false, label: false, placeholder: 'Password', input_html: { autocomplete: "current-password" } %>
          <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions align-self-baseline">
          <!-- MODAL TRIGGER -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Login
          </button>
          <!-- MODAL TRIGGER END -->
          <%= f.button :submit, "Login", id: 'login' %>
        </div>
      </div>
    </div>

    <!-- MODAL POP-UP -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Log in</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= f.input :email, required: false, autofocus: true, label: false, placeholder: 'Email', input_html: { autocomplete: "email" } %>
            <%= f.input :password, required: false, label: false, placeholder: 'Password', input_html: { autocomplete: "current-password", class: "form-control:focus form-login" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="modal-footer">
            <%= f.button :submit, "Login", id: 'login' %>
          </div>
        </div>
      </div>
    </div>
  <!-- MODAL POP-UP END -->


    <div class="row h-100">
      <div class="col-xs-12 col-sm-4 offset-sm-4 align-self-center" style="text-align:center;">
        <h1 id="home-logo">HiVie</h1>
        <h3>It's About How You Live</h3>
        <div class="shared-links" style=" opacity:.6">
          <%#= render "devise/shared/links" %>
          <!-- Need to delete the 'log in' blue link that comes with devise -->
        </div>
      </div>
    </div>

    <div class="fixed-button-home text-center w-100">
      <div class="col">
         <h5 style="opacity: 0.6">A safe space for HIV+ persons to <br/>connect, share stories & find love</h5>
        <!-- Insert form here -->

          <div class="form-actions w-90" style="padding-top: 8px">
            <%= link_to "Register", new_user_registration_path, class: 'btn button btn-pink', id: "btn-home" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
