<div class="home-container">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <h3 class="profile-header" style="text-align: left; border-bottom: 1px solid RGB(70,44,114, 0.8);">Matches</h3>
    <div class="matches-index container scrolling-wrapper-flexbox">
      <div class="row match-preview">
        <% @matches.each do |match| %>
          <div class="col">
            <div class= "match-avatar">
              <%= link_to match_messages_path(match) do %>
                <div style="text-align: center; margin-top: 1px">
                <% if match.user_one == current_user %>
                    <div>
                      <% if match.revealed? %>
                       <%= cl_image_tag match.user_two.photo, class: "avatar-match-list inline-block" %>
                      <% else %>
                        <%= cl_image_tag match.user_two.photo, transformation: {:effect => "blur:800"}, class: 'avatar-match-list inline-block'%>
                      <% end %>
                    </div>
                  <div class="match-alias">
                    <h5> <%= match.user_two.username %></h5>
                  </div>
                <% else %>
                   <div>
                    <% if match.revealed? %>
                      <%= cl_image_tag match.user_one.photo, class: "avatar-match-list inline-block" %>
                    <% else %>
                      <%= cl_image_tag match.user_one.photo, transformation: {:effect => "blur:800"}, class: 'avatar-match-list inline-block'%>
                      <% end %>
                    </div>
                  <div class="match-alias">
                    <h5> <%= match.user_one.username %></h5>
                  </div>
                <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- CONVERSATION START -->

    <h3 class="profile-header" style="text-align: left; border-bottom: 1px solid rgb(70,44,114, 0.8); margin: 0px 0px">Conversations</h3>
        <% @conversations.each do |match| %>
         <%= link_to match_messages_path(match) do %>
          <div class="preview-message-card d-flex justify-content-start"  style="border-bottom: 1px solid RGB(70,44,114, 0.2)">
            <% if match.user_one == current_user %>
              <div>
                <% if match.revealed? %>
                  <%= cl_image_tag match.user_two.photo, class: "avatar-match-list mb-2 mt-2" %>
                <% else %>
                  <%= cl_image_tag match.user_two.photo, transformation: {:effect => "blur:800"}, class: 'avatar-match-list mb-2 mt-2'%>
                <% end %>
              </div>
              <div class= "match-card-info align-self-center ml-4">
                <div class="match-card-header"><%= match.user_two.username%></div>
                  <h5 class="message-text" style="clear:both">
                  <% if match.messages.any? %>
                    <%= match.messages.last.content.truncate(50) %></h5>
                  <% end %>
              </div>
            <% else %>
              <div>
                <% if match.revealed? %>
                  <%= cl_image_tag match.user_one.photo, class: "avatar-match-list mb-2 mt-2" %>
                <% else %>
                  <%= cl_image_tag match.user_one.photo, transformation: {:effect => "blur:800"}, class: 'avatar-match-list mb-2 mt-2'%>
                <% end %>              </div>
              <div class= "match-card-info align-self-center ml-4">
                <div class="match-card-header"><%= match.user_one.username %></div>
                <% if match.messages.any? %>
                  <h5 class="message-text" style="clear:both"><%= match.messages.last.content.truncate(50) %></h5>
                <% end %>
              </div>
            <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
