  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HiVie</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <!-- to be done later for chat navbar -->
    <!-- COMMENTED OUT FOR NOW -->
    <%# unless current_page?(new_user_session_path)%>
    <!-- add line to above statement >>> || current_page?(chat_path)  -->
      <%#= render 'shared/navbar' %>
      <%#= render 'shared/flashes' %>
    <%# end %>
    <% if current_page?(new_user_registration_path || new_user_characteristic_path || edit_profile_path) %>
      <%= render 'shared/navbar_logo' %>
    <% elsif current_page?(user_path) %>
      <%= render 'shared/navbar' %>
    <%# elsif current_page?(user_chat_path) %>
      <%= render 'shared/chat_navbar' %>
    <% end %>

    <!-- main container -->
    <div class="main-container-hivie">
      <%= yield %>
    </div>
    <!-- end main container -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>



