<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>HiVie</title>
      <%= csrf_meta_tags %>
      <%= action_cable_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    </head>
    <body>


      <!-- Add the if for the match option to disappear on the dropdown
      if the user is on the swiping page -->

        <%= render 'shared/chat_navbar' %>

      <!-- main container -->
      <div class="main-container-hivie">
        <%= yield %>
      </div>
      <!-- end main container -->

      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </body>
  </html>



